* {
    box-sizing: border-box;
  }

  body {
    font-family: "CircularStd book", sans-serif; 
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    margin: 3% 7%;
  }
  
  h1, h2, h3 {
    font-family: "CircularStdmed", sans-serif;
    color: #233d63;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header > h1 {
    display: flex;
    margin: 0 auto;
  }

  .avatar-sm {
    height: 85px;
    margin-right: 4%;
    position: relative;
    left: 0;
  }

  .avatar-lg {
    display: none;
  }

  #hamburger {
    display: none;
  }
  
  .hamburger {
    position: relative;
    text-align: right;
    font-size: 35px;
    float: right;
    margin-top: 15px;
    color: #bf6cff;
  }

  .menu a {
    color: inherit;
  }

  .projects a {
    color: #007BFF;
    text-decoration: none;
  }

  header {
      margin-bottom: 10%;
  }

  .biography {
    margin: 6% 0;
  }

  .link-group ul {
    padding: 0 0;
    margin-bottom: 15%;
  }

  .link-group li, .link-group li a {
    display: inline-block;
    margin-top: 5px;
    line-height: 55px;
    margin-left: 0;
    text-decoration: none;
  }

  .menu li a {
    text-decoration: none;
  }

  .page-nav ul li {
    display: block;
    width: 33%;
    border: 2px solid #bf6cff;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
  }

  .page-nav>ul>li:hover {
    background-color: #bf6cff;
  }

 .page-nav ul {
    display: none;
  }

  .page-nav input:checked ~ ul {
    display: block;

  }

  .myprojects, .email-link {
    width: 185px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    color: white;
    background: linear-gradient(-135deg,#bf6cff 0%,#9041ff 100%);
    margin-right: 30px;
    font-size: 18px;
    font-weight: 550;
  }

  .email-link {
    background: linear-gradient(-135deg,#22d4ab 0%,#00c597 100%);
  }

  .project1-screenshot, .project2-screenshot {
    max-width: 100%;
  }

  /*desktop*/
  @media screen and (min-width: 850px) {
    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      height: 75px;
    }
    header > h1 {
      display: flex;
      margin: 0;
    }
  
   
    .menu li {
      margin: 0 20px;
      border: none;
    }

    .page-nav ul li {
      border: none;
    }

    .page-nav input:checked ~ ul, .page-nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style: none;
      align-items: center;
      margin: 25px 20px 0 0;
      margin-bottom: 0;
      float: right;
      font-size: 18px;
    }

    .main {
      margin-left: 10%;
      max-width: 50%;
    }

    .avatar-sm, .hamburger {
      display: none;
    }

    .avatar-lg {
      display: flex;
      width: 18%;
      height: auto;
      position: absolute;
      left: 70%;
      top: 30%;
      margin-right: 50px;
    }
  }